{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <h3 class="my-2">HELLO, I am programer Hosikun </h3>
<!--          <h5 class="my-2">
              이 블로그는 인터넷강좌 스터디하며 만든 사이트입니다.<br>
              <a href="https://www.inflearn.com/course/%ED%8C%8C%EC%9D%B4%EC%8D%AC/dashboard" target="_blank">강좌 링크</a><a>
               / </a><a href="https://github.com/jiyuhosi/django_bootstrap_blog" target="_blank">github</a><a><br>
          </a></h5><a>-->

          <br>
          <h3 class="my-2">About Me</h3>

<!--              </a><a href="https://docs.google.com/document/d/1Uk8N9btCgWVhQG6uwQ4YIg8s-h9VeGdi3fJO0L5gZ58/edit" target="_blank">Resume</a>-->
<!--              | <a href="https://drive.google.com/file/d/11vRulAV_uRDrTBMIycyqkJb6L80vTJ_O/view?usp=sharing" target="_blank">Projects</a><br>-->
              <a href="mailto:jiyuhosi@gmail.com">jiyuhosi@gmail.com</a><br>
              <a href="https://github.com/jiyuhosi">github</a><br>
              <a href="https://www.facebook.com/riseung" target="_blank">facebook</a><br>

          <h3 class="my-2">Portfolio</h3>

              <h6><strong>django_blog:</strong><a href="https://hosikun.com"> django_blog</a></h6>
              <h6><strong>react_blog:</strong><a href="#">#</a></h6>
              <h6><strong>raect_SNS:</strong><a href="#">#</a></h6>
              <h6><strong>vue_Todo:</strong><a href="#" target="_blank">#</a></h6><br>


              <h3><span>My Skills</span></h3>
          　<h6><strong>BackEnd:</strong>,    JAVA, python, PHP, NodeJS</h6>
            <h6><strong>FrontEnd:</strong>  HTML5, CSS, javacsript, typescript, Jquery, React, Vue </h6>
            <h6><strong>Tool && DB:</strong>  Linux, OracleDB, PLSQL, Git, Slack</h6><br>

            <h3><span>Certification</span></h3>
          　<h6>AWS associate architect ,    PHP5技術者認定初級試験</h6>
            <h6>TOEIC825点,  日本語能力試験1級</h6>
            <h6>OCJP(Oracle Certified JAVA Programmer),     MOS(Microsoft Office Specialist）Master</h6>
            <h6>情報処理技師(応用情報技術者に相当),     情報処理産業技師(基本情報技術者に相当)</h6>

          </h5>
      </div>
      <div class="col-md-4">
          <img class="img-fluid" src="/static/basecamp/images/profile.jpg">
      </div>
  </div>
</div>


{% endblock %}