{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <h3 class="my-2">HELLO, I am programer Hosikun </h3>

          <br>
          <h3 class="my-2">About Me</h3>

              <a href="mailto:jiyuhosi@gmail.com" target="_blank">jiyuhosi@gmail.com</a><br>
              <a href="https://github.com/jiyuhosi" target="_blank">github</a><br>
              <a href="https://drive.google.com/file/d/1FqQjnu1ooRO6wE3A0SEEB2SlGR1arjji/view?usp=sharing" target="_blank">Resume</a><br>
              <a href="https://www.facebook.com/riseung" target="_blank">facebook</a><br>

              <h3><span>My Skills</span></h3>
          　<h6><strong>BackEnd:</strong>,   python, NodeJS,JAVA,PHP, </h6>
            <h6><strong>FrontEnd:</strong>  HTML5, CSS, javacsript, typescript, Jquery, React, Vue </h6>
            <h6><strong>Tool && DB:</strong>  Linux, OracleDB, PLSQL, Git, Slack, AWS</h6><br>

            <h3><span>Certification</span></h3>
          　<h6>AWS associate architect ,    PHP5技術者認定初級試験</h6>
            <h6>TOEIC825点,  日本語能力試験1級</h6>
            <h6>OCJP(Oracle Certified JAVA Programmer),     MOS(Microsoft Office Specialist）Master</h6>
            <h6>情報処理技師(応用情報技術者に相当),     情報処理産業技師(基本情報技術者に相当)</h6>

          </h5>
      </div>
      <div class="col-md-4">
          <img class="img-fluid" src="/static/basecamp/images/profile.jpg">
      </div>
  </div>
</div>


{% endblock %}